.asignaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.asignaciones h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.table-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

table th {
  background-color: #333;
  color: white;
}

.addButton {
  padding: 0.75rem 1.5rem;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 1rem;
}

.addButton:hover {
  background-color: #218838;
}

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.editButton {
  padding: 0.5rem 1rem;
  background-color: #673ab8;
  color: white;
  font-size: 0.95rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.editButton:hover {
  background-color: #5e34a6;
}

.deleteButton {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  font-size: 0.95rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.deleteButton:hover {
  background-color: #c82333;
}

.panelLayout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.dataTableContainer {
  flex: 2;
  min-width: 60%;
}

.formPanel {
  flex: 1;
  max-width: 450px;
  background-color: #333;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: sticky;
  top: 7.5rem;
  margin-top: 8rem;
  height: fit-content;
  align-self: flex-start;
}


